<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032086160402-ts0ts02s64euiioab4v9a3abmq550g81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032086160402-ts0ts02s64euiioab4v9a3abmq550g81</string>
	<key>API_KEY</key>
	<string>AIzaSyA_3YQzOKhw0jX-xmV2zkA0-c7HGGpc3XM</string>
	<key>GCM_SENDER_ID</key>
	<string>1032086160402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.katGame</string>
	<key>PROJECT_ID</key>
	<string>katgame-2129d</string>
	<key>STORAGE_BUCKET</key>
	<string>katgame-2129d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032086160402:ios:b5f3ce0bbfa01e2a3e84cb</string>
</dict>
</plist>